[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
jinja2 = "*"
aiofiles = "*"
dictor = "*"
uvicorn = "*"
psycopg2 = "*"
alembic = "*"

[requires]
python_version = "3.8"

[scripts]
sparky = 'python run.py'
